{{!-- aqui tomamos la plantilla que esta en header.hbs --}}
{{> header titutle="CONTACTO / es dinamico"}}
    {{!-- AQUI pintamos desde el servidor el html, el resultado seria, lo que se encuentra en la tura -> app.js --}}
    {{!-- <h1> {{ titulo }}</h1> --}}
    
    {{!-- este contacto, obtiene los datos desde el servidor app.js, los datos comunmente son enviados como objetos y JSON --}}
    {{!-- <h2>{{contacto}}</h2> --}}

    {{!-- UTILIZANDO IF CON HBS --}}
    {{!-- {{#if estado}}
        <p>{{contacto}}</p>
        {{else}}
        <p>NO EXISTE EL SERVICIO</p>
    {{/if}} --}}

    {{!-- {{ footer footerContacto="este footer esta en contacto.hbs"}} --}}


    <!-- CONTACT -->
    <section class="container-fluid">
        <h1 id="contacto">Contacto</h1>
        <h2>Cualquier duda o consulta no dudes en contactarnos</h2>
        <div class="row position-relative contact-form bg-transparent-dark">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 p-5">
                <form action="https://formsubmit.co/test.pro.te20@gmail.com" class="w-100 text-white" method="POST">
                    <h4>Envianos un correo</h4>
                    <p class="subtitle-form">Ingresa tus datos aqui y te responderemos lo antes posible</p>
                    <div class="mb-3">
                        <label for="text" class="form-label">NOMBRE</label>
                        <input type="text" name="Nombre" class="form-control" id="subject"
                            placeholder="Ingresa tu nombre" required autofocus>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">EMAIL</label>
                        <input type="email" name="Correo Electronico" class="form-control" id="email"
                            placeholder="Tu correo electronico: ejemplo@gmail.com / ejemplo@outlook.es" required>
                    </div>
                    <div class="mb-3">
                        <label for="text" class="form-label">ASUNTO DEL MENSAJE</label>
                        <input type="text" name="Asunto" class="form-control" id="asunto" placeholder="Asunto" required>
                    </div>
                    <div class="form-floating">
                        <textarea class="form-control mb-3 textarea-form" name="Mensaje" id="Mensaje" cols="15"
                            rows="10" placeholder="Ingrese su mensaje aqui" required>
                        </textarea>
                    </div>
                    <button type="submit" class="btn btn-info btn-lg btn-block ">ENVIAR</button>
                </form>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 p-3 text-white">
                <h4>Ubicacion Geografica</h4>
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7086.369478218497!2d-70.32395748827888!3d-27.369945360594777!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x96980476ed3b84e9%3A0x4ac74d3dd972a334!2sPlaza%20de%20Armas%20de%20Copiap%C3%B3!5e0!3m2!1ses-419!2scl!4v1634435370404!5m2!1ses-419!2scl"
                    width="100%" height="500" style="border:0; border-radius: 25px; padding: 2%;" allowfullscreen=""
                    loading="lazy">
                </iframe>
                <!--  -->
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-3">
                        <div class="dbox w-100 text-center">
                            <div class="icon d-flex align-items-center justify-content-center">
                                <i class="bi bi-map sizeIcons-form"></i>
                            </div>
                            <h4>Direccion</h4>
                            <p>Salitrera 123, Copiapo, Region de Atacama, Chile</p>
                        </div>
                    </div>
                    <div class="ccol-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-3">
                        <div class="dbox w-100 text-center">
                            <div class="icon d-flex align-items-center justify-content-center">
                                <i class="bi bi-whatsapp sizeIcons-form"></i>
                            </div>
                            <h4>Telefono</h4>
                            <p>+569-7238-9065</p>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-3">
                        <div class="dbox w-100 text-center">
                            <div class="icon d-flex align-items-center justify-content-center">
                                <i class="bi bi-envelope-fill sizeIcons-form"></i>
                            </div>
                            <h4>Email</h4>
                            <p>test.pro.te20@gmail.com</p>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-3">
                        <div class="dbox w-100 text-center">
                            <div class="icon d-flex align-items-center justify-content-center">
                                <i class="bi bi-instagram sizeIcons-form"></i>
                            </div>
                            <h4>Red social</h4>
                            <p>@Fanod3c</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- FIN CONTACT -->
    <!-- SOCIAL MEDIA NO BOOTSTRAP -->
   

    {{>footer}}