
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
   
    <!-- CSS IMPORTADO DE PUBLIC -->
    <link rel="stylesheet" href="../public/assets/css/styleLogin.css"

    <!-- PATTERN.CSS CDN -->
    <!-- <link href="https://unpkg.com/pattern.css" rel="stylesheet"> -->

    {{!-- <title> login </title> --}}
    {{>header titutle="Login Prakash"}}
    {{!-- container login  --}}
    <section class="container p-3">
        <div class="containerLogin">    
                <!-- Fomulario login -->
                <form id="formLogin" action="indexLogin" method="POST" class="form-cubo" >
                    <div class="control-cubo">
                        <h1 class="h1-cubo text-white">Iniciar Sesion</h1>
                    </div>
                    <div class="control-cubo block-cubo block-input">
                        <input type="text" name="user" id="user" placeholder="Usuario" required>
                        <div class="bg-top-cubo">
                            <div class="bg-inner-cubo"></div>
                        </div>  
                        <div class="bg-right-cubo">
                            <div class="bg-inner-cubo" > </div>
                        </div>
                        <div class="bg-cubo">
                            <div class="bg-inner-cubo"></div>
                        </div>
                    </div>
                    <div class="control-cubo block-cubo block-input">
                        <input type="password" name="pass" id="pass" placeholder="Contrasenña" required>
                        <div class="bg-top-cubo">
                            <div class="bg-inner-cubo"></div>
                        </div>  
                        <div class="bg-right-cubo">
                            <div class="bg-inner-cubo" > </div>
                        </div>
                        <div class="bg-cubo">
                            <div class="bg-inner-cubo"></div>
                        </div>
                    </div>
                    <button class="btn-cubo block-cubo block-cubo-hover" type="submit">
                        <div class="bg-top-cubo">
                            <div class="bg-inner-cubo"></div>
                        </div>  
                        <div class="bg-right-cubo">
                            <div class="bg-inner-cubo" ></div>
                        </div>
                        <div class="bg-cubo">
                            <div class="bg-inner-cubo"></div>
                        </div>
                        <div class="text">Iniciar sesion</div>
                    </button>

                    <div class="text-center text-white mt-3">
                        <label for="">¿ No tienes cuenta ?</label>
                        <a type="button" class="text-warning" href="indexRegister"> Registrate aqui! </a>
                    </div>
                    
                </form>
        </div>
    </section>
    
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
   {{#if alert}}
    <script>
        Swal.fire({
            title: '{{alertTitle}}',
            text: '{{alertMessage}}',
            icon: 'success',
            showConfirmButton: '{{showConfirmButton}}'
            //posible loop / error
            //timer: '{{timer}}'
            //icon: 'warning'
            
        }).then(()=> {
                window.location = '/adminFront/indexAdmin{{ruta}}'
        })
        

    </script>
    {{else}}
    <p>faltan los datos</p>
    
    {{/if}}
    {{> footer}}
<!-- SCRIPTS -->
 <!-- HANDLEBARS CDN -->
</html>